<%- include("partials/header");-%>

<!-- WELCOME SECTION STARTS HERE -->

<div class="row" style="background-color: #DBEAF6; padding-bottom:73px;">
    
 <div class="container-fluid">

  <div class="container-fluid welcome"  style=" margin-top:250px;">
                
    <center><h1 class="animate__animated animate__fadeInDown animate__delay-1s 1s" style="font-family: 'Pacifico', cursive; font-size:40px; color:#2051E9;">Welcome !</h1></center>
    <br>
    <center><p class="animate__animated animate__fadeInUp animate__delay-1s 1s welcome-message" style="font-family: 'Poppins', sans-serif; line-height: 1.86; font-weight: 300; ">
    Reliance Charity Foundation is a youthful charity organization dedicated to transforming lives especially the youth and the less privileged through the preaching of the gospel with the help of the Holy Ghost, counselling and provision
      of basic needs such as food, clothing and healthcare services among the vulnerable in Ghana and Africa. As well as, we are a non profit organization which restore children returning to a life of freedom, which allows them to be a child
      again and help them resume a life of realized self-worth 
    </p></center>

    <center> <a class="animate__animated animate__fadeInUp animate__delay-1s 1s btn " style="color: #ffffff;" href="https://commerce.coinbase.com/checkout/dff1ea5f-bb3e-44de-9f5c-85f64e12cff1 ">Buy Cryto</a></center>
  
</div>

<img class="first-gif animate__animated animate__fadeInRight animate__delay-1s 1s"  src="/images/ezgif-crop.gif" alt="blockchain-gif">


 </div>


</div>



<!-- WELCOME SECTION ENDS HERE -->


<!-- ABOUT US SECTION STARTS HERE -->
    <div class="row" style="background-color: #F5F5F8; padding-bottom:50px;" >
      <div class="container-fluid">

          <div class="container-fluid welcome" style=" margin-top:100px;">
            <center>  <h1 class="animate__animated animate__fadeInDown animate__delay-2s 2s" style="font-family: 'Poppins', cursive; font-size:40px;  font-weight: 600;  color:#2051E9;">ABOUT US </h1></center>
            <br>
            <center><p class="animate__animated animate__fadeInUp animate__delay-2s 2s welcome-message" style="font-family: 'Poppins', sans-serif; line-height: 1.86; font-weight: 300; ">
            Reliance Charity Foundation is a youthful charity organization dedicated to transforming lives especially the youth and the less privileged through the preaching of the gospel with the help of the Holy Ghost, counselling and provision
              of basic needs such as food, clothing and healthcare services among the vulnerable in Ghana and Africa. As well as, we are a non profit organization which restore children returning to a life of freedom, which allows them to be a child
              again and help them resume a life of realized self-worth 
            </p></center>
        
          </div>
          
          <img class="animate__animated animate__fadeInRight animate__delay-2s 2s second-gif"  src="/images/Unknown-crop.gif" alt="blockchain-gif">

      </div>

    </div>

<!-- ABOUT US SECTION ENDS HERE -->

<!-- THIRD SECTION STARTS HERE -->

      <div class="row"  style="background-color: #DBEAF6; padding-bottom:60px;">
        <div class="container-fluid">

          <img class="animate__animated animate__fadeInLeft animate__delay-3s 3s third-gif"  src="/images/06a2312ada3efca32bf4161eb660cb03crop.gif" alt="blockchain-gif">

          <div class="container-fluid welcome" style=" margin-top:150px;">
            <center>  <h1 class="animate__animated animate__fadeInDown animate__delay-3s 3s" style="font-family: 'Poppins', cursive; font-size:40px;  font-weight: 600;  color:#2051E9;">OUR TEAM </h1></center>
            <br>
            <center><p class="animate__animated animate__fadeInUp animate__delay-3s 3s" class="welcome-message" style="font-family: 'Poppins', sans-serif; line-height: 1.86; font-weight: 300; text-align:left; ">
            Reliance Charity Foundation is a youthful charity organization dedicated to transforming lives especially the youth and the less privileged through the preaching of the gospel with the help of the Holy Ghost, counselling and provision
              of basic needs such as food, clothing and healthcare services among the vulnerable in Ghana and Africa. As well as, we are a non profit organization which restore children returning to a life of freedom, which allows them to be a child
              again and help them resume a life of realized self-worth 
            </p></center>
          </div>

        </div>

      </div>
<!-- THIRD SECTION ENDS HERE -->

<%- include("partials/footer");-%>